<div class="modal-header">
    <h4> Registro de Productos</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>

<div class="modal-body">
    <form [formGroup]="productoForm" (ngSubmit)="onSubmit()">

        <div class="row">
            <div class="col">
                <label for="nombre" class="form-label">NOMBRE</label>
                <input type="text" class="form-control" id="nombre" 
                formControlName="nombre">
            </div>
            <div class="col">
                <label for="precio" class="form-label">PRECIO</label>
                <input type="text" class="form-control" id="precio" 
                formControlName="precio">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="stock" class="form-label">STOCK</label>
                <input type="text" class="form-control" id="stock" 
                formControlName="stock">
            </div>
            <div class="col">
                <label for="id_categoria" class="form-label">CATEGORIA</label>
                <select class="form-select me-2" style="width: 200px;" id="id_categoria" formControlName="id_categoria">
                <ng-container *ngFor="let categoria of categorias">
                    <option *ngIf="categoria.estado === '1'" [value]="categoria.id">{{ categoria.nombre }}</option>
                </ng-container>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" 
            (click)="activeModal.dismiss()"> Cancel</button>
            <button type="submit" class="btn btn-primary"> Guardar</button>
        </div>

    </form>
</div>