<div class="modal-header">
    <h4> Registro de Tipo Usuario</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>

<div class="modal-body">
    <form [formGroup]="tipoUserForm" (ngSubmit)="onSubmit()">

        <div class="row">
            <div class="col">
                <label for="nombres" class="form-label">NOMBRES</label>
                <input type="text" class="form-control" id="nombres" 
                formControlName="nombre">
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" 
            (click)="activeModal.dismiss()"> Cancel</button>
            <button type="submit" class="btn btn-primary"> Guardar</button>
        </div>

    </form>
</div>